.form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
form {
    background-color: gray;
    padding: 50px;
    border-radius: 10px;
}
label {
    display: block;
        font-size: 24px;
        color: lightgrey;
        font-weight: bold;
}
input {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 5px;
}
.input-container>input {
    width: 100%;
}

.button-container {
    margin-top: 10px;
}
.button-container>input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
    color: black;
}